body{
    text-align:center;
    font-family:Arial;
    background-color: #3030a545;
}

#board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    gap:5px;
    justify-content:center;
    margin:20px;
}

.cell{
    width:100px;
    height:100px;
    font-size:40px;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    background:#f2f2f2;
}
button{
    background-color: #5f3ca4;  /* button color */
    color: white;               /* text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #3ca0e2;  /* hover color */
}

